@charset "UTF-8";

/**
 * プロジェクトによらない基本的な設定
 */


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 * タグのベーススタイル
 */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: $base_background-color;
  font-family: $base_font-family;
  font-size: $base_font-size;
  color: $base_color;
  line-height: $base_line-height;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
template {
  display: none;
}
a {
  background-color: transparent;
}
a:link,
a:active,
a:hover,
a:visited {
  outline: 0;
  text-decoration: none;
  outline: none;
}

img {
  border: 0;
}
