@font-face {
    font-family: 'yummy-food';
    src:    url('../fonts/yamato.eot?jxt7pk');
    src:    url('../fonts/yamato.eot?jxt7pk#iefix') format('embedded-opentype'),
        url('../fonts/yamato.ttf?jxt7pk') format('truetype'),
        url('../fonts/yamato.woff?jxt7pk') format('woff'),
        url('../fonts/yamato.svg?jxt7pk#yamato') format('svg');
    font-weight: normal;
    font-style: normal;
}
