/**
 * 基本テーマのスタイル
 */
 body {
  background: $base_background-color;
  font-family: $base_font-family;
  font-size: $base_font-size;
  color: $base_color;
  line-height: $base_line-height;
 }

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}
small {
  font-size: 80%;
}

li {
    list-style-type:none;
}
