
.event-title{
  font-family: $base_font-family;
  font-size: 30px;
  font-weight: bold;
  color: #60534c;
  //dot保留
}

.event-tabs-menu{
  padding: 0;
  margin: 0;
}

.event-tabs-menu__item{
  font-family: $base_font-family;
  font-size: $base_font-size;
  color: $off_background-color;
  background-color: $point_color;
  font-weight: bold;
  width: 100px;
  height: 40px;
  line-height: 100%;
  margin: 0;
  display: inline-block;
  text-align: center;
  border-radius: 5px 5px 0 0;
  //三角部分保留
}

.event-list{
  margin: 0;
  padding: 0;
}

//アイコンフォント保留
.event-list__box{
  width: 75%;
  line-height: 100%;
  list-style: none;
  font-size: 14px;
  background-color: $base_background-color;
  font-family: $base_font-family;
  font-size: $base_font-size;
  padding: 10px 20px;
}

.event-list__box_border{
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: rgba(96,83,76,0.2);
}

.event-list-date{
  line-height: 30%;
  color: $point_color;
  font-size: 16px;
  font-family: Myriad Pro;
  font-weight: 600;
}

.event-list-area{
  color: $point_color;
  font-size: 12px;
}

.event-list-link{
  text-align: right;
  font-size: 12px;
  font-weight: bold;
}
