// @font-face {
//   font-family: 'FontAwesome';
//   src: url('FontAwesome.eot');
//   src: url('FontAwesome.eot?iefix') format('eot'),
//        url('FontAwesome.woff') format('woff'),
//        url('FontAwesome.ttf') format('truetype'),
//        url('FontAwesome.svg#webfontjSpbZQRv') format('svg');
// }


.event_ranking{
  padding: 20px 80px;
  background-color: $off_background-color;
  display:flex;
}

// .event{
//   width: 600px;
//   height: auto;
//   margin: 0;
//   padding: 0;
// }

.event-title{
  margin: 20px 0;
  font-family: $base_font-family;
  font-size: 30px;
  font-weight: 600;
  color: #60534c;
  margin: 20px 0;
}

//dot
.decorated-title__decoration-wrap{
  color: #bbb932;
  opacity: 0.3;
  font-size: 8px;
  letter-spacing: 0.6em;
}

//メニュー
.event-tabs-menu{
  padding: 0;
  margin: 0;
}

.event-tabs-menu-item {
  font-family: $base_font-family;
  font-size: $base_font-size;
  color: $off_background-color;
  background-color: $point_color;
  font-weight: bold;
  line-height: 40px;
  margin: 0;
  text-align: center;
  border-radius: 5px 5px 0 0;
  display: inline-block;
  position: relative;
  //三角部分保留


  &__link {
    display: block;
    width: 100px;
    height: 40px;
    color: $off_background-color;
  }
  &__active:after{
  	top: 100%;
  	left: 50%;
  	border-top: 10px solid $point_color;
    border-bottom: 10px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	margin-left: -7px;
    z-index: 100;
  }
}


//リストボックス
.event-tabs {
  background-color: $base_background-color;
  width: 600px;
  height:470px;
  margin: 0;
  padding: 0;
}

//リストボックス内__アイコンフォント保留
.event-tab {
  // width: 600px;
  margin: 0;
  font-size: 14px;
  background-color: $base_background-color;
  font-family: $base_font-family;
  font-size: $base_font-size;
  color: $base_color;
  padding: 5px 20px 20px 20px;
  display: none;
  &:first-child {
    margin: -1.5px;
  }
  &:first-child {
    display: block;
  }
}

.event-list-item {
  border-bottom: solid 1px rgba(96,83,76,0.2);
  padding:25px 10px;
  &:last-child {
    border: none;

  }

  &__date{
    color: $point_color;
    font-size: 16px;
    font-family: Myriad Pro;
    font-weight: 600;
  }

  &__date:before{
    font-size: 13px;
    color: $point_color;
    font-family: FontAwesome;
    content: "\f073";
    letter-spacing: 0.5em;
  }

  &__area{
    color: $point_color;
    font-size: 12px;
  }

  &__area:before{
    color: $point_color;
    font-size: 13px;
    font-family: FontAwesome;
    content: "\f041";
    letter-spacing: 0.5em;
  }

  &__link-more{
    float: right;
    font-size: 12px;
    font-weight: bold;
    text-decoration:none;
    color:$base_color;
  }

  &__link-more:before {
    font-family: FontAwesome;
    content: "\f111";
    font-size: 1px;
    color: #c7b9b1;
  }
}

a:hover p{
  opacity: 0.7;

}
