
.event__title {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #666633;
  border-bottom: dotted solid #cccc33;
}
.tab{overflow:hidden;}
.tab li{background:#f6f3ed; padding:5px 25px; float:left; margin-right:1px;}
.tab li.select{background:#3399cc;}
.content li{background:#3399cc; padding:20px;}
.hide {display:none;}
