.event{
  padding: 20px 80px;
  background-color: $off_background-color;
}

.event-title{
  font-family: $base_font-family;
  font-size: 30px;
  font-weight: 600;
  color: #60534c;
  margin: 35px 0;
    //dot保留
}

#event-tabs-menu ul{
  padding: 0;
  margin: 0;
}

#event-tabs-menu li{
  font-family: $base_font-family;
  font-size: $base_font-size;
  color: $off_background-color;
  background-color: $point_color;
  font-weight: bold;
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  display: inline-block;
  text-align: center;
  border-radius: 5px 5px 0 0;
  //三角部分保留
}

#event-tabs-menu li a{
    color: $off_background-color;
}

#event-tab-menu1
#event-tab-menu2
#event-tab-menu3
#event-tab-menu4
#event-tab-menu5{
  width: 600px;
  height: 470px;
  margin: 0;
  padding: 0;
}

#event-tab-menu2
#event-tab-menu3
#event-tab-menu4
#event-tab-menu5{
  display:none;
}


//アイコンフォント保留
.event-list__box1{
  width: 600px;
  height: 122px;
  margin: 0;
  line-height: 100%;
  font-size: 14px;
  background-color: $base_background-color;
  font-family: $base_font-family;
  font-size: $base_font-size;
  color: $base_color;
  padding: 13px 20px 20px 20px;
}

.event-list__box2{
  width: 600px;
  height: 116px;
  margin: 0;
  line-height: 100%;
  font-size: 14px;
  background-color: $base_background-color;
  font-family: $base_font-family;
  font-size: $base_font-size;
  color: $base_color;
  padding: 8px 20px 20px 20px;
}

.event-list__box3{
  width: 600px;
  height: 116px;
  margin: 0;
  line-height: 100%;
  font-size: 14px;
  background-color: $base_background-color;
  font-family: $base_font-family;
  font-size: $base_font-size;
  color: $base_color;
  padding: 8px 20px 20px 20px;
}

.event-list__box4{
  width: 600px;
  height: 116px;
  margin: 0;
  line-height: 100%;
  font-size: 14px;
  background-color: $base_background-color;
  font-family: $base_font-family;
  font-size: $base_font-size;
  color: $base_color;
  padding: 8px 20px 20px 20px;
}


#event-list__box_border{
  padding-bottom: 6px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: rgba(96,83,76,0.2);
}

.event-list-date{
  line-height: 80%;
  margin: 0 0 -7px 0;
  color: $point_color;
  font-size: 16px;
  font-family: Myriad Pro;
  font-weight: 600;
}

.event-list-area{
  color: $point_color;
  font-size: 12px;
}

.event-list-link{
  line-height: 100%;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  color: $base_color;
  text-decoration:none;
}

a:hover p{
  opacity: 0.7;

}
