
.event-title{
  font-family: $base_font-family;
  font-size: 30px;
  font-weight: bold;
  color: #60534c;
  //dot保留//
}

.event-tabs-menu__item{
  font-family: $base_font-family;
  color: $off_background-color;
  background-color: $point_color;
  font-weight: bold;
  width: 80px;
  padding-bottom: 15px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
}

//-----list(アイコンフォント保留)-----//
.event-list__box{
  width: 70%;
  line-height: 75%;
  list-style: none;
  font-size: 14px;
  background-color: $base_background-color;
  font-family: $base_font-family;
  padding: 1% 2% 2%;
}

.event-list__box_border{
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: rgba(96,83,76,0.2);
}

.event-list-date{
  line-height: 30%;
  color: $point_color;
  font-size: 16px;
  font-family: Myriad Pro;
  font-weight: 600;
}

.event-list-area{
  color: $point_color;
  font-size: 12px;
}

.event-list-link{
  text-align: right;
  font-size: 12px;
  font-weight: bold;
}
