
header{
	padding: 5px 0;
	height: 150px;width: 100%;
}
.header__logo__tiltle{	
	background-image: url('../img/logo.png') ;
	background-repeat: no-repeat;
	background-position: center;
	height: 70px;
	width: 302px;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	margin: auto;
	padding: 45px;
}
.box__from-search{
	margin: 5px 10px;
	background: #61544d;
	width: 193px;
	height: 25px;
}
.ymfod-search{
	color: #fff;
	 margin: auto 5px;
	 height: 25px;
}
.icon__box__serch{
	
}
.icon__box__serch span{
	color: $WHT;
}
.icon__serch{
	color: $WHT;
	margin: 5px;
}
.icon__box__social li{
	display: table-cell;
}
header span{
				display: inline-block;
			}

header input{
				background-color: #61544d;
			}