
header{
	padding: 5px 0;
	height: 150px;width: 100%;
}
.header__logo__tiltle{	
	background-image: url('../img/logo.png') ;
	background-repeat: no-repeat;
	background-position: center;
	height: 70px;
	width: 302px;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	margin: auto;
	padding: 45px;
}
.box__from-search{
	margin-right: 300px;
 	margin-left : auto;
	background: #61544d;
	width: 193px;
	height: 25px;
	padding-right: 0px;
}
input{
	width: 158px;
	margin: 0 5px;
}
.ymfod-search{
	margin-right: 0;
 	margin-left : auto;
	color: #fff;
	height: 25px;
}

.box-icon-social{
	display: table;
	float: right;
	margin-right: 10px;
 	margin-left : auto;
}
.box-icon-social li{
	display: table-cell;
}
header span{
				display: inline-block;
			}

header input{
				background-color: #61544d;
			}