.news {
  background-color: #999;
  height: 480px;
  width : 1240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news__container{
  background-color: #888;
  height: 360px;
  width : 1049px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.news__title {
  background-color: #777;
  height: 50px;
  width : 100%;
  display: flex;
  justify-content: center;
}
.news__title-title {
  background-color: #666;
  display: flex;
}

.news__articles {
  background-color: #777;
  width : 100%;
  display: flex;
  justify-content:space-between;
}

// .news__article-wrapper {
//   background-color: #666;
//   display: flex;

// }

.news__article-article {
  background-color: #555;
  width:240px;
  display: flex;
  flex-direction: column;
}

.news__article-caption {
  background-color: #999;
  width:100%;
  display:flex;
  flex-wrap:wrap;
}


.news__button {
  background-color: #777;
  width : 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news__button-button {
  background-color: #666;
  height: 40px;
  width : 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}
