// ランキング固有の変数
$flag-width: 12px;
$flag-color: $point_color;
$ranking-number-color: $off_background-color;

.event_ranking{
  padding: 20px 80px;
  background-color: $off_background-color;
  display:flex;
}
.ranking-title{
  font-family: $base_font-family;
  font-size: 30px;
  font-weight: 600;
  color: #60534c;
  margin: 35px 0;

}

//dot

.decorated-title__decoration{
  opacity: 0.3;
  font-size: 8px;
  letter-spacing: 0.6em;
}

.ranking-list-item{
  position: relative;
  height: 100px;
  width: 420px;
  display: flex;
  padding: 10px 10px;
  border-top:1px solid #CCC;
  border-bottom:1px solid #CCC;
  margin-top: -1px;
}

//サムネイル
.ranking-list-item-thumbnail{
  display: inline-block;
  position:relative;
}

.ranking-list-item__flag{
  // display: inline-block;
  position: absolute;
  left: 5px;
  top: -5px;
  border-top: 1px solid $flag-color;
  border-right: $flag-width solid $flag-color;
  border-bottom: 6px solid transparent;
  border-left: $flag-width solid $flag-color;
  width: 10px;
}

.ranking-list-item__number{
  // display: inline-block;
  color: $ranking-number-color;
  width: $flag-width * 2;
  text-align: center;
  position: relative;
  left: -$flag-width;
}

//テキスト系
.ranking-list-item-content{
  display: inline-block;
  // position: relative;
  height: 80px;
  margin: 0;
  padding-left: 10px;
}

.ranking-list-item-content__text{
  font: $base_font-family;
  font-size: 12px;
}
.ranking-list-item-content__time{
  font: $base_font-family;
  font-size: 12px;
  color: $point_color;
  position: absolute;
  bottom: 10px;
  margin: 0;
}


//top30を見る
.ranking-list-footer__more{
  float: right;
  font-weight: bold;
  text-decoration:none;
  color:$base_color;
}

.ranking-list-footer__more:before{
  content:url(/img/rank_more.png);
}
