.event_ranking{
  padding: 20px 80px;
  background-color: $off_background-color;
  display:flex;
}
.ranking-title{
  font-family: $base_font-family;
  font-size: 30px;
  font-weight: 600;
  color: #60534c;
  margin: 35px 0;
    //dot保留
}


//top30を見る
.ranking-list-footer__more:before{
  content:url("img/rank_more.png")
}
