.event_ranking{
  padding: 20px 80px;
  background-color: $off_background-color;
  display:flex;
}
.ranking-title{
  font-family: $base_font-family;
  font-size: 30px;
  font-weight: 600;
  color: #60534c;
  margin: 35px 0;
}

//dot
.ranking-title__dots{
  line-height: 0;
}

.ranking-title__dot{
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: $base_color;
  opacity: 0.3;
  display: inline-block;

}

.ranking-list-item{
  position: relative;
  height: 100px;
  width: 420px;
  display: flex;
  padding: 10px 10px;
  border-top:1px solid #CCC;
  border-bottom:1px solid #CCC;
  margin-top: -1px;
}

}
//サムネイル
.ranking-list-item-thumbnail{
  display: inline-block;
  position:relative;
}
.ranking-list-item__number{
  // display: inline-block;
  position: absolute;
  left: 5px;
  top: -5px;
  border-top: 1px solid #2b8ed3;
  border-right: 12px solid #2b8ed3;
  border-bottom: 6px solid transparent;
  border-left: 12px solid #2b8ed3;
  width: 10px;
}

.ranking-list-item__number_no{
  // display: inline-block;
  font: $base_font-family;
  color: $off_background-color;
}

//テキスト系
.ranking-list-item-content{
  display: inline-block;
  // position: relative;
  height: 80px;
  margin: 0;
  padding-left: 10px;
}

.ranking-list-item-content__text{
  font: $base_font-family;
  font-size: 12px;
}
.ranking-list-item-content__time{
  font: $base_font-family;
  font-size: 12px;
  color: $point_color;
  position: absolute;
  bottom: 10px;
  margin: 0;
}


//top30を見る
.ranking-list-footer__more{
  float: right;
}

.ranking-list-footer__more:before{
  content:url(/img/rank_more.png);
}
